.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 45px;
    border: .2rem solid #00abf0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    background: #00abf0;
    transition: .5s ease;
    z-index: 1;
    overflow: hidden;
}

.btn:hover {
    background: transparent;
    color: #00abf0;
}
